.calculator{
    width: 30vw;
    height: 70vh;
    border:3px solid black;
    margin: auto;
    position: relative;
    top:100px;
    display: grid;
    gap: 5px;
    padding: 20px;

}
.calculator input{
    width: 100%;
    font-size: 45px;
    border: 2px solid black;
    text-align: right;
    outline: none;
   
}
.calculator .form-group{
        display: flex;
        justify-content: space-between;
        gap: 5px;
         border-radius: 5px;
}
.calculator .form-group button{    
  width: 25%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.calculator .form-group .evaluate{
    background-color: rgb(0, 0, 22);
    color: white;
}

.calculator .form-group button:hover{
    background-color: gainsboro;
}   

.calculator .form-group .evaluate:hover{
    background-color: blue;
}
